
<p><p id="notice"></p>

<p>
  <strong>Title:</strong>
<span><%= @b.title %></span>
</p>

<p>
<strong>Body:</strong>
<span><%= @b.body %></span>
</p>

<%= link_to "Edit" , edit_book_path %>
|
<%= link_to "Back" , books_path %>